.profile_root {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;

    h1 {
        font-size: 4rem;
        margin-block-start: 0px;
        margin-block-end: 10px;
    }
}