.explore_root {

    .explore_middle_container {
        padding: 10px 15px;

        .feed_card {
            background-color: #1c1c1c !important;
            border-radius: 10px !important;
            box-shadow: 0 1px 10px rgba(0, 0, 0, .149), 0 1px 1px rgba(0, 0, 0, .102) !important;
            margin-bottom: 15px;
            padding: 15px;
            border: 1px solid gray;

            .feed_card_header {
                display: flex;
                flex-direction: row;
                gap: 15px;
                align-items: flex-start;
                margin-bottom: 15px;

                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }

                span {
                    color: #b9bdcb;
                }

                a {
                    color: #42a5f5;
                    text-decoration: none;
                }

                .feed_header_right {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .date_posted {
                        font-size: 0.8em;

                        svg {
                            vertical-align: text-top;
                            font-size: 1rem;
                        }
                    }
                }
            }

            .feed_card_body {
                p {
                    color: #b9bdcb;
                    margin-block-start: 10px !important;
                }

                .feed_card_rating {
                    font-size: 1rem !important;
                }
            }
        }

        button {
            background-color: white;
            color: black;
            z-index: 0;
        }
        
        button:hover {
            background-color: #b9bdcb;
            color: black;
        }
    }

    h1 {
        color: white;
        font-size: 1.2em;
        margin-block-start: 0px;
        margin-block-end: 10px;
    }
}

.no_feed_message {
    color: #b9bdcb;
}

.search_user_modal {
    border-radius: 10px;
    background-color: #303134 !important;
    min-height: 400px !important;
    min-height: 300px !important;
    padding: 10px !important;
    border: none !important;

    .search_form {
        box-shadow: none !important;
    }
}

.user_results_container {
    height: 100%;
    overflow: scroll;
}

.result_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;

    .user_results_left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    h1 {
        font-size: 1.2em;
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    span {
        color: white;
    }
}

.result_card:hover {
    background-color: #3c3d40;
}

.no_results {
    text-align: center;
    color: white;
}

.add_friend_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
        max-width: 56px;
        text-align: center;
        color: #b9bdcb;
        font-size: 0.8em;
        padding-top: 5px;
    }
}

.mobile_date_posted {
    display: none;
}

@media screen and (max-width: 700px) {
    .date_posted {
        display: none;
    }

    .mobile_date_posted {
        display: block;
        font-size: 0.8em;
        color: #b9bdcb;

        svg {
            vertical-align: text-top;
            font-size: 1rem;
            color: #b9bdcb;
        }
    }
}