.mylist_root {
    padding: 0px 15px;

    .mylist_header {
        display: flex;
        align-items: flex-start;
    }

    h1 {
        font-size: 2em;
        margin-block-start: 0px;
        margin-block-end: 10px;
    }

    svg {
        color: white;
        font-size: 1.7rem;
        vertical-align: middle;
        margin-left: 5px;
    }

    p {
        color: white;
    }
}

@media screen and (max-width: 1200px) {
    .mylist_root {
        min-height: 100vh;
        padding: 10px 15px;
    }
}