.mylist_root {
    margin-top: 80px;
    padding: 25px 50px;
    min-height: 100vh;

    h1 {
        font-size: 2em;
        margin-block-start: 0px;
        margin-block-end: 10px;

        svg {
            vertical-align: middle;
        }
    }

    p {
        color: white;
    }
}