aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
anyio==4.3.0
attrs==23.2.0
authsignal==1.0.4
blinker==1.7.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dataclasses-json==0.6.4
decouple==0.0.7
distro==1.9.0
filelock==3.13.4
Flask==3.0.2
Flask-Cors==4.0.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.1
fsspec==2024.3.1
groq==0.5.0
grpcio==1.62.1
grpcio-tools==1.62.1
gunicorn==22.0.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.2
hyperframe==6.0.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.3
joblib==1.4.0
jsonpatch==1.33
jsonpointer==2.4
langchain==0.1.13
langchain-community==0.0.31
langchain-core==0.1.43
langchain-text-splitters==0.0.1
langsmith==0.1.48
Mako==1.3.3
MarkupSafe==2.1.5
marshmallow==3.21.1
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
networkx==3.3
nltk==3.8.1
numpy==1.26.4
openai==1.20.0
orjson==3.10.1
packaging==23.2
pillow==10.3.0
portalocker==2.8.2
propelauth-flask==2.1.14
protobuf==4.25.3
psycopg2-binary==2.9.9
pydantic==2.7.0
pydantic_core==2.18.1
pyhumps==3.8.0
PyJWT==2.8.0
python-dotenv==1.0.1
PyYAML==6.0.1
qdrant-client==1.8.2
regex==2024.4.16
requests==2.31.0
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
sentence-transformers==2.2.2
sentencepiece==0.2.0
sniffio==1.3.1
SQLAlchemy==2.0.29
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.4.0
tokenizers==0.15.2
torch==2.2.2
torchvision==0.17.2
tqdm==4.66.2
transformers==4.39.3
typing-inspect==0.9.0
typing_extensions==4.11.0
urllib3==2.2.1
Werkzeug==3.0.2
yarl==1.9.4