.navi-bar {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 2 !important;
    background-color: #1C1C1C !important;

    button {
        text-transform: none;
        font-family: "Lato", sans-serif;
    }

    .logo_img {
        height: 30px;
    }
}